<!DOCTYPE html>
<html>
    <head>
        <title>Hello Vue.js! App3</title>
    </head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <body>
        <div id="app-3_1">
            <span v-if="seen">Now you see me</span>
        </div>
        <script>
            var app3 = new Vue({
                el: '#app-3_1',
                data: {
                    seen: true
                }
            })
        </script>
        <hr>
        <div id="app-3_2">
            <span v-if="seen">Now you see me</span>
        </div>
        <script>
            var app3 = new Vue({
                el: '#app-3_2',
                data: {
                    seen: false
                }
            })
        </script>
    </body>
</html>
